<div class="text-center">
    <h1 class="display-4">Список заблокированных адресов</h1>

    <table id="BlockedListTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Адрес</th>
                <th>Маска</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <th>#</th>
                <th>Адрес</th>
                <th>Маска</th>
                <th>Действия</th>
            </tr>
        </tfoot>
    </table>
</div>

@section Scripts {

<script type="text/javascript">
    let blockedListTable = $("#BlockedListTable");
    let tableBody = $("#BlockedListTable > tbody");
    let dataTable;

    function LoadingTable() {
        dataTable = blockedListTable.DataTable({
            columns: [
                { data: "id" },
                { data: "ip" },
                { data: "mask" },
                {
                    data: "action",
                    render: function (data, type, entry, meta) {
                        return "<button type=\"button\" class=\"btn btn-danger\" onclick=\"RemoveFromBlacklist(this, " + entry.id + ")\">Удалить из ЧС</button>";
                    }
                }
            ],
            ajax: {
                url: "/Api/Db/BlockedProxy",
                dataSrc: ""
            }
        });
    }

    function RemoveFromBlacklist(button, index) {
        $.ajax({
            type: "DELETE",
            url: "/Api/Db/BlockedProxy/" + index,
            success: function (response, textStatus, xhr) {
                if (xhr.status == 200) {
                    dataTable.ajax.reload();
                }
            },
        });
    }

    $(LoadingTable);
</script>

}