<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    
    <p>
        Приложение создано при помощи Asp Net Core v6
    </p>

    <p>
        Все необходимые ссылки находятся в шапке сайта

        <ul class="list-group">
            <li class="list-group-item">Чекер - всё что связанно со сканером прокси</li>
            <li class="list-group-item">Система - конфигурация для корректной работы приложения</li>
        </ul>
    </p>
</div>